<div style="display: table; justify-content: center; width: 80%">
  <h1>Greeting tests</h1>
  <form (ngSubmit)="sendGreeting()"  (keyup.enter)="sendGreeting()" [formGroup]="greetingForm">
      <div>
        <input
                type="text"
                name="name"
                placeholder="Name"
                formControlName="name" >
      </div>
      <div>
        <input
                type="number"
                name="age"
                placeholder="Age"
                formControlName="age" >
      </div>


    <div>
      <button type="submit">Send Greeting</button>
    </div>

  </form>
  <h2>{{myGreeting}}</h2>


</div>